PORT=8080
NODE_ENV=development
POSTGRES_USER=SEU_USUÁRIO_POSTGRES
POSTGRES_PASSWORD=SEU_PASSWORD_POSTGRES
POSTGRES_DB=SEU_BANCO_POSTGRES
POSTGRES_PORT=5432
DATABASE_URL=postgresql://SEU_USUÁRIO_POSTGRES:SEU_PASSWORD_POSTGRES@localhost:5432/SEU_BANCO_POSTGRES?schema=public
JWT_SECRET=change-me
JWT_EXPIRES_IN=1d
APP_VERIFY_URL=http://localhost:4200/verify-email?token=
CORS_ORIGIN=http://localhost:4200
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=mailer@example.com
SMTP_PASSWORD=secret
APP_MAIL_FROM="aSync <no-reply@company.local>"
